body{
font-family: Arial, Helvetica, sans-serif;
background-color: #0093E9;
background-image: linear-gradient(260deg, #0093E9 0%, #80D0C7 100%);
background-size: 100% 100%;
background-repeat: no-repeat;
}

*{
    box-sizing: border-box;
}

div.form-box{
    width: 500px;
    background-color: rgba(230, 229, 229, 0.4);
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    position: relative;
    top: 150px;
}

label, input, select{
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]{
    color: #fff;
    font-size: 14px;
    background-color: rgb(11, 139, 144);
}

fieldset, legend{
    border: 4px inset skyblue;
}

input[type="text"]:focus,select:focus{
    background-color: rgb(0, 0, 0);
    border: none;
    color: #fff;
}

@media only screen and (max-width: 660px){
    div.form-box{
        width: 100%;
    }
}